<% provide(:title, 'Over ons') %>
<h1>Over Work-smarter</h1>
<p>Work-smarter is zowel een eenmanszaak als een samenwerkingsverband van zzp-ers die samen oplossingen willen bieden aan bedrijven. Door deze opzet kan Work-smarter (als hoofdaannemer) voor elk project of uitdaging de juiste professionals leveren. Wij committeren ons aan het resultaat, niet aan de inzet.

<h3>Rik Megens</h3>
<ul>
	<li><img=http://www.gravatar.com/avatar/516705f396580a3b8a46b54a4be0f364.png /></li>
	<li>faq sheet</li>
</ul>
<h3>Peter Creyghton</h3>
<ul>
	<li>gravatar van Peter</li>
	<li>faq sheet</li>
</ul>

<p>Voor ZZP-ers: ook meedoen aan dit netwerk ? Dat kan! Neem contact op via de contact pagina en vermeld in de onderwerp 'Meedoen'
</p>
