<% provide(:title, 'Home') %>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Work-smarter ontwart ontzorgt</h1>
        <p class="lead">Work smarter neemt verantwoordelijkheid voor de beschikbaarheid van uw ICT behoeften</p>
        <%= link_to "Neem vandaag contact op!", contact_path, class: "btn btn-large btn-success"%>
      </div>

      <hr>

      <div class="row-fluid">
        <div class="span6">
          <h2>Ontwarren</h2>
          <p>Bij <strong>Onwarren</strong> wordt gekeken naar de huidige stand van de IT. Alles wordt hierbij beschreven. Het resultaat is een compleet beeld, waarin duidelijk gemaakt is waar de doublures zitten en waar de gaten. </p>
          <p><a class="btn" href="#">Lees meer &raquo;</a></p>
        </div>
        <!--
        <div class="span2">
        </div>
      -->
        <div class="span6">
          <h2>Ontzorgen</h2>
          <p>Bij <strong>Ontzorgen</strong> worden de organisatorische aspecten in kaart gebracht. Na het toewijzen van deze taken aan mensen of leveranciers worden deze afspraken samengebracht in een Dossier Afspraken en Procedures(DAP) of een Service Level Agreement (SLA).  </p>
          <p><a class="btn" href="#">Lees meer &raquo;</a></p>
       </div>
      </div>
