<% provide(:title, 'Producten') %>
<h1>Onze producten</h1>
<h3>InstantCloud</h3>
<p>
Voor bedrijven die willen testen wat cloud computing voor hun zou kunnen betekenen heeft WS de InstantCloud ontworpen. Dit is een fysieke 'black-box' met daarin een virtualisatieplatform (KVM of ESXi), opslagruimte en een virtueel netwerk inclusief een statefull firewall. De InstantCloud kan naast de bestaande IT server voorzieningen neergezet worden. Een stroomkabel en een netwerkkabel naar het bedrijfsnetwerk is voldoende om aan de slag te gaan.
</p>
<p>
Uiteraard levert WS bij InstantCloud 4 uur training aan de bestaande IT beheerders om onmiddellijk met de InstantCloud aan de slag te gaan.
</p>
<p>
InstantCloud kan maximaal 4 weken gebruikt worden voor een vaste prijs van <strong>€ 2500 </strong>(ex btw). 
Hiervoor ontvangt u:
<ul>
<li>4 weken gebruik van de InstantCloud Blackbox</li>
<li>4 uur consultancy mbt Cloud Computing</li>
<li>4 uur ondersteuning bij het opzetten van de testomgeving en testcase(s) </li>
<li>4 weken telefonische ondersteuning tijdens kantooruren</li>
<li>4 uur training onsite voor de IT beheerders </li>
</ul>
</p>
<p>
De omvang van alle bovengenoemde activiteiten wordt ge-time-boxed op de blokken van 4 uur. Met andere woorden, het aantal testcases en de bijbehorende test-omgeving(en) moeten realiseerbaar zijn in 4 uur. Dit hangt in hoge mate af van de volwassenheid van de IT organisatie. Hetzelfde geldt voor de onsite training. Een IT organisatie met veel kennis en ervaring in visualisatie-technieken zal meer en andere zaken leren dan een IT organisatie waar virtualisatie een nieuw concept is. Aan het eind van de 4 uur training zal de eerste organisatie op een ander punt zijn dan de 2e organisatie. 
</p>
<p>
Indien een organisatie meer wil leren over virtualisatie en cloud computing, dan kan hiervoor een additionele afspraak gemaakt worden.
</p>
