<% provide(:title, 'Diensten') %>
<h1>Over onze Services</h1>
Work-smarter heeft ruime ervaring in :
<ul>
	<li>virtualiseren van de bestaande kantoor automatisering</li>
	<li>ontwerpen en bouwen van nieuwe kantoor automatisering</li>
	<li>ontwerpen en bouwen van een hosted infrastructuur (private cloud)</li>
	<li>migratie en projectmanagent naar de public cloud</li>
	<li>beheer van uw serveromgeving</li>
	<li>beheer van uw kantooratomatisering-omgeving</li>
	<li>ondersteuning bij inkoop van ICT producten en diensten</li>
	<li>interim management van uw ICT afdeling</li>
</ul>
