<% provide(:title, 'Wiki') %>
<h1>Wiki</h1>
<p>Op deze wiki worden (technische) onderwerpen vastgelegd die ik dagelijks tegenkom om tegengekomen ben. Als zodanig is de wiki een 'brain-dump' met mijn persoonlijke ervaringen (goed en minder goed). De gekozen oplossingen zijn 'mijn' gekozen oplossingen. Dit zijn niet noodzakelijkerwijs de 'beste' oplossingen. Voor de 'beste' oplossingen verwijs ik graag naar <a href="http://www.google.nl">hier</a></p>
