        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Producten", products_path %></li>
                <li><%= link_to "Diensten", services_path %></li>
                <li><%= link_to "Wiki", wiki_path %></li>
                <li><%= link_to "Over ons", about_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
