<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
 <body>

    <div class="container">

      <div class="masthead">
        <h3 class="muted">Work-smarter.nl</h3>
        <%= render 'layouts/navblok' %>
      </div>

			<%= yield %>

      <hr>
      <%= render 'layouts/footer' %>

    </div> <!-- /container -->
    <%= render 'layouts/javafooter' %>

</body>
</html>
